.admin-title {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-title h1 {
    font-size: 36px;
}


.admin-panel-container {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-panel-block {
    width: 1000px;
    min-height: 200px;
    background-color: white;
    border-radius: 50px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#admin-create-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 100px 40px 40px;
}

.admin-page-line {
    font-size: 24px;
    width: 100%;
    height: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.admin-page-line p {
    width: 300px;
}

#admin-edit-button, #admin-viewRU-button, #admin-viewUA-button, #admin-delete-button {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#store-button {
    border-radius: 10px;
    width: 300px;
    height: 80px;
    font-size: 24px;
}

.input-images-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.admin-buttons-container {
    display: flex;
    width: 550px;
    justify-content: space-evenly;
}

.admin-upper-buttons-wrapper {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
}
